#header{
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    background-color: rgb(44, 41, 41);
    color: white
}
#search{
    font-size: 20px;
    margin-left: 20px;
   
}
#searchBar{
    height: 30px;
    width: 200px;
    margin-left: 20px;
}
#table1{
    float: right;
    border-collapse: separate; border-spacing: 30px;
}
#table2{
    float: right;
}
.square {
    height: 180px;
    width: 150px;
    background-color: rgb(0, 89, 255);
    color: white
}
#cityName{
    font-size: 15px;
    font-weight: bold;
}
#history{
    margin-left: 20px;
}